* {
  font-family: Cambria;
}
body {
  background-color: Linen;
}

#lewy, header, footer {
  background-color: SteelBlue;
  color: white;
  text-align: center;
}

footer{
  clear: both;
}

#lewy {
  width: 25%;
  height: 510px;
  margin: 0 1% 0 1%;
  box-shadow: 4px 4px 5px DimGray;
  float:left;
}

header {
  width: 73%;
  height: 80px;
  float: left;
}

main {
  width: 73%;
  height: 400px;
  float: left;
}

input[type="button"] {
  background-color: SteelBlue;
  color: white;
  width: 20%;
  padding: 15px;
  margin-top: 30px;
  font-size: 130%;
  border: none;
  &:hover{
    background-color: Navy;
  }
}

div{
  background-color: LightBlue;
  margin-right: 80px;
  padding: 10px;
}

#adresF, #kontaktF{
  display:none;
}

nav{
  background-color: LightGrey;
  width: 73%;
  margin-bottom: 10px;
  float: left;
}

#postep{
  background-color: Navy;
  width: 4%;
  height: 30px;
}

table{
  width: 100%;
  border: 1px dotted Navy
}
