* {
  font-family: Century, Serif;
  text-align: center;
}

header, footer {
  background-color: Indigo;
  color: white;
  font-style: italic;
  padding: 2px;
}

section {
  width: 50%;
  height: 470px;
  float: left;
}

img {
  padding: 3px;
  margin: 10px;
  border: 2px dashed SlateBlue;
}

a {
  color: white;
}

input[type="button"]{
  background-color: SlateBlue;
  color: white;
  border: none;
  padding: 10px 20px 10px 20px;
  margin-top: 10px;
  &:hover{
    background-color: Indigo;
  }
}

input[type="range"]{
  width: 80%;
}

footer{
  clear:both;
}
